<%= link_to "New Project", new_project_path %>
<div class="page-header">
<h2>Projects</h2>
</div>
<ul>
	<% @projects.each do |project| %>
	<li><%= link_to project.name, project %></li>
	<% end %>
</ul>